<div id="appointments-list">
    <div class="row my-4">
        <div class="col-auto d-lg-none">
            <%= image_tag('arrow-left.svg') %>
        </div>
        <div class="col text-center d-none d-lg-block fs-4 fw-bolder">
            <%= t('my_appointments') %>
        </div>
        <div class="col-auto text-center d-lg-none fs-5">
            <%= t('my_appointments') %>
        </div>
    </div>

    <div class="row col-12 mx-auto justify-content-center gap-5">
        <% @client.appointments.each do | app | %>
            <div class="col-12 col-lg-5 bg-white shadow-sm rounded px-3 py-5 my-3">
                <div class="row g-0 pt-3">
                    <div class="col-auto me-3">
                        <%= image_tag(app.doctor.avatar, size: "77x77", style: "border-radius: 4px; background-color: lightgray;") if app.doctor.avatar.attached? %>
                    </div>
                    <div class="col-auto">
                        <div class="row g-0 fw-bolder mb-2"><%= app.doctor.name %></div>
                        <div class="row g-0"><%= app.doctor.location %></div>
                    </div>
                </div>

                <div class="row g-0 my-4">
                    <div class="col fs-7 grey-font">
                        <%= t('.consultation_details') %>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col-auto me-1">
                        <%= image_tag('calendar-white.svg',size: "16") %>
                    </div>
                    <div class="col-auto fw-bold py-1">
                        <% text = app.date.to_date.date_in_words %>
                        <%= "#{text[:specifier]} #{text[:date]} #{text[:month_long]}" %>
                    </div>
                    <div class="col-auto mx-auto text-center text-black-50 py-1">
                        |
                    </div>
                    <div class="col-auto me-1">
                        <%= image_tag('time-square.svg', size: "16") %>
                    </div>
                    <div class="col-auto fw-bold py-1">
                        <%= app.time_string %>
                    </div>
                </div>

                <div class="row g-0 mt-5 mb-4 pt-3">
                    <div class="col">
                        <%= t('.download_invoice') %>
                    </div>
                </div>

                <div class="row g-0 mb-5 gx-3">
                    <% Constants::DOWNLOAD_FORMATS.each do |format| %>
                        <div class="col-auto">
                            <%= link_to "#{format.upcase}", download_appointments_path(request.params.merge(format: format, id: app.id)), class: "btn btn-dark py-1 px-4 fw-light fs-7" %>
                        </div>
                    <% end %>
                </div>

                <div class="row g-0 mt-5 mb-4 pt-3">
                    <div class="col row bg-amt-paid p-3 rounded g-0">
                        <div class="col-auto me-auto fw-light">
                            <%= t('.amount_paid') %>
                        </div>
                        <div class="col-auto text-primary fw-bolder">
                        <%= "#{'%.2f' % [app.amount_in_original_currency]} #{app.currency}" %>
                        </div>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col">
                        <%= button_to t('.cancel'), app, method: :delete, class: "btn btn-primary w-100", disabled: app.cancel? ? false : true %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>