<!DOCTYPE html>
<html>
  <head>
    <title>MediApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">
        MediApp
        </div>
        <div class="col">
        Header
        </div>
      </div>
    </div>

    <div class="">
      <%= yield %>
    </div>
  </body>
</html>
